providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Volumes/WorkVault01/WorkMatthias/Dev/noWord"
          source: "/Volumes/WorkVault01/WorkMatthias/Dev/noWord/.build-tools.cson"
          name: "Build Default page"
          command: "python3 ./src/nw_proc.py ./examples/00_defaultPage ./build/"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
          version: 2
        }
      ]
  }
]
