providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          name: "Build IU: Intended Use"
          command: "python3 ./noWord/nw_proc.py ./validation/01_specifications/iu ./build/01_specifications"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
          version: 2
        }
        {
          project: "/Users/matthias.mueller/WorkSymbios/Doc/SoftwareLifecycle/HipPlan/tools/sbo_docgen/noWord"
          source: "/Users/matthias.mueller/WorkSymbios/Doc/SoftwareLifecycle/HipPlan/tools/sbo_docgen/noWord/.build-tools.cson"
          name: "Build SDP: Software Development Plan"
          command: "python3 ./noWord/nw_proc.py ./validation/01_specifications/sdp ./build/01_specifications"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
          version: 2
        }
        {
          project: "/Users/matthias.mueller/WorkSymbios/Doc/SoftwareLifecycle/HipPlan/tools/sbo_docgen/noWord"
          source: "/Users/matthias.mueller/WorkSymbios/Doc/SoftwareLifecycle/HipPlan/tools/sbo_docgen/noWord/.build-tools.cson"
          name: "Build tests"
          command: "python3 ./tests/run_tests.py"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
          version: 2
        }
      ]
  }
]
